/*Week4 page styling
    Sirak Berhane
    April 2018
*/

/*body styling*/
body
{
    background-color:#ebc611;/*yellowish*/
    text-align:center; 
    font-family:'Times New Roman', Times, serif;
    
}

/*text stylig*/
p{
    font-family:'Times New Roman', Times, serif;
  
}
/*section stlying*/
div {
    color:#ad2d2d;/* dark red*/
    font-size:18px;

}


/*column styling*/

.col-md-4{
    border:double;
    border-color:#000000;/*black*/
}
/*container styling*/
.container{
    column-width:auto;
    border-top-color:#808080;
}

}
/*footer styling*/
footer{
    font-size:14px;
    color:#000000;/*black*/
}
footer a {
    color: #ffffff;/*white*/
}

    footer a:hover {
        color: #A69055;/*goldish*/
    } 