/*Week6 css styling 
    sirak berhane 
    April 28 2018
*/


body
{
    padding-top:50px;
    padding-bottom:20px;
    background-color:aquamarine/*light blue*/
}
/* main styling*/
.main{
    font-family:'Times New Roman';
    text-align:center;
    height:910px;
    border:dotted;
    border-color:#000000;/*black*/
    background-color:burlywood;
}
/*column styling*/
.col-md-4{
    border:solid;
    border-color:#2f3976;
    font-family:'Comic Sans MS';
   
}
/*jumbotron styling*/
.jumbotron{
  background-color:#b77241;/*dark red*/
}
/* legend styling*/
legend{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#586091;/*dark blue*/
    
}
/*transbox styling*/
.transbox{
    background-color:#ffffff;/*white*/
    border:1px solid black;
    opacity:0.7;
}
/*aside styling*/
aside{
    width:33%;
    float:left;
    background-color:#ff6a00;
    text-align:left;
    padding-top:10px;
    padding-left:20px;
    padding-right:0px;
    padding-bottom:10px;
}
/*button styling*/
.greenBtn{
        border:solid aquamarine;

}
